{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
<section>
    <h2>Showing Visualisations for "{{ league_name }}" - League ID: {{ league_id }} </h2>
</section>
<hr>
<section>
    <h1>Average Weekly Points For vs Points Against</h1>
    <div class="row">
        <div class="col-md-4"><!-- form/results will go here --></div>
        <div>
            <canvas id="scatter_avg_points" width="20" height="12"></canvas>
        </div>
    </div>
</section>
<hr>
<section>
    <h1>Expected League Table</h1>
    <p>Expected points explained below the table</p>
    <table>
      <thead>
      <tr>
          {% for col in column_names %}
          <th>{{col}}</th>
          {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for row in row_data %}
      <tr>
          {% for col, row_ in zip(column_names, row) %}
          <td>{{row_}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
    <p>Expected points are used to determine how lucky or unlucky each player is. 
        For a head-to-head league in any given gameweek, if you score the most fpl points, your expected points are 3 because no one can beat you. 
        In a gameweek, if you score the 3rd highest fpl points in a 10 person league, you beat 7 people but lose to 2 
        so your expected points work out as 7/(7+2) * 3 = 2.33.
        Add the expected points for each player every week and you get the expected league table.
        The over/under performance determines how lucky/unlucky players are.
     </p>
</section>






<script>
    // Register the plugin to the Chart.js library
    Chart.register(ChartDataLabels);

    const ctx3 = document.getElementById('scatter_avg_points').getContext('2d');
    var chart_labels = {{ labels | safe }}

    const data_flask = {
        //labels: chart_labels,
        datasets: [{
            // label: 'Scatter Dataset',
            data: {{ data_dict | tojson() }},
            backgroundColor: 'rgb(255, 99, 132)',
            
        }],
    };
    var scatterchart = new Chart(ctx3, {
        type: 'scatter',
        data: data_flask,
        options: {
            radius: 3,
            pointBackgroundColor: '#62A6F8',
            plugins: {
                title: {
                    display: false,
                    text: 'Average weekly points for vs points against',
                    font: {
                        size: 20
                    },
                    color: 'black'
                },
                datalabels: {
                    display: true,
                    align: 'start',
                    color: '#214672',
                    formatter: function(context, chart_obj) {
                        return chart_labels[chart_obj.dataIndex]
                    },
                    font: {
                        size: 10
                    }
                },
                legend: {
                    display: false
                }
            },
            scales: {
                y: { 
                    title: {
                        display: true,
                        text: 'Average points against',
                        font: {
                            size: 15
                        },
                        color: 'black'
                    }
                },
                x: { 
                    title: {
                        display: true,
                        text: 'Average points for',
                        font: {
                            size: 15
                        },
                        color: 'black'
                    }
                }
            }
        }
    })
</script>
{% endblock %}