Chart.js Flask Example


<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>




<div class="row">
    <div class="col-md-4"><!-- form/results will go here --></div>
    <div class="col-md-8">
        <h1>Visualize Scatter</h1>
        <canvas id="scatterflask" width="20" height="10"></canvas>
    </div>
</div>

<script>
    const ctx3 = document.getElementById('scatterflask').getContext('2d');

    const data_flask = {

        datasets: [{
            label: 'Scatter Dataset',
            data: {{ data_dict | tojson() }},
            backgroundColor: 'rgb(255, 99, 132)'
        }],
    };


    var scatterchart = new Chart(ctx3, {
        type: 'scatter',
        data: data_flask,
        labels: ["1","2","3","1","2","3","1","2","3","4"],

        options: {
            radius: 6,
            
        }
    })

</script>